div{
	margin: 20px 50px;
	padding: 30px;
	float: left;
	width: 400px;
	position: relative;
	text-align: justify;
}
#Line1{
	margin: 0;
	padding: 0;
	width: auto;
}
#Line2{
	margin: 0;
	padding: 0;
	width: auto;
	clear:both;
	float: left;
	position: relative;
}